@{
    ViewData["Title"] = "Sobre";
}

<head>
    <link rel="stylesheet" href="~/css/sobre.css">
</head>

<div class="container">
    <h2>Sobre...</h2>
    <div class="cards">
        <div class="card card-proyecto">
            <div class="card-header">Este proyecto</div>
            <div class="card-content">
                <p>TEXTO</p>
            </div>
        </div>
        <div class="card card-nosotros">
            <div class="card-header">Nosotros</div>
            <div class="card-content">
                <p>TEXTO</p>
            </div>
        </div>
    </div>
</div>
