@{
    ViewData["Title"] = "Mi Cuenta";
}

<head>
    <link rel="stylesheet" href="~/css/cuenta.css">
</head>

<div class="container mt-5">
    <div class="card shadow-sm p-4">
        <h2 class="mb-3">Perfil del creador</h2>

        <div class="user-info">
            <strong>[Nombre de Usuario]</strong>
        </div>

        <br />

        <a class="btn btn-primary mt-3" href="/Cuenta/RecetasPublicadas">Recetas publicadas</a>

    </div>
</div>
