/* General */
body {
    background-color: #f9fcfd;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenido llene el espacio vertical */
}

main {
    flex-grow: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
}

/* Barra de navegación */
.navbar {
    background-color: #e3f8f8; /* Color celeste claro */
    border-bottom: 2px solid #d6eded; /* Línea inferior más oscura */
}

.navbar-brand img {
    width: 40px; /* Tamaño del logo */
}

.navbar-nav {
    margin-left: auto; /* Alinea las opciones a la derecha */
}

.nav-link {
    color: #333; /* Color del texto */
    font-weight: bold;
    margin-right: 15px;
}

    .nav-link:hover {
        color: #007b8f; /* Color del texto al pasar el ratón */
    }

/* Elementos destacados */
.highlight-section {
    background-color: #bce7ea; /* Color de fondo celeste */
    color: white;
    text-align: center;
    padding: 30px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.highlight-item {
    background-color: white;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    border: 2px solid #d4f2f5;
}

/* Opciones de exploración */
.explore-section h3 {
    color: #007b8f;
    font-weight: bold;
    margin-bottom: 20px;
}

.explore-item {
    background-color: #f1f1f1;
    border-radius: 8px;
    width: 80px;
    height: 80px;
    margin: 10px;
    display: inline-block;
}

/* Botones */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.btn-warning {
    background-color: #ffc107;
    color: #212529;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}

/* Pie de página */
.footer {
    background-color: #e3f8f8; /* Color celeste claro */
    border-top: 2px solid #d6eded; /* Línea superior más oscura */
    color: #333;
    text-align: center;
    padding: 10px 0;
}
